body {
    background-color: #40e0d0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px black;
    max-width: 244.65px;
}

.form label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 3px 0px;
}

.form div {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

.form h1, h2, h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    margin: 10px 0;
}

.form h1 {
    margin-top: 0;
    font-size: 1.5rem;
}

.form button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 0;
    border: 2px solid black;
    justify-content: center;
    margin-top: 10px
}

.form button:hover {
    background-color: #40e0d0;
    border: 2px solid black;
}

.label {
    display: block;
}